<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Objetos</title>
</head>
<body>
	<form action="/objetos" method="POST">
		<label for="nome">Nome</label>
		<input type="text" name="nome">
		<input type="submit" value="Salvar">
	</form>
</body>
</html>