<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Objetos</title>

	<link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<% lista.forEach( function( e ) { %>
			<tr>
				<td><%= e.id %></td>
				<td><%= e.nome %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		let socket = io();
		socket.on('novoObjeto', function( dados ) {
			alert( `Objeto ${dados.objeto.nome} cadastrado` );
		});
	</script>
</body>
</html>